/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/* imports */

/* background-img */
#hero-bg {
    background-image: url("assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 3px 3px 3px rgba(247, 241, 241, 0.5)
}

.welcome,
.rooster-hero {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}



.hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    width: 100%;
    min-height: 800px;
    display: flex;
    color: #fdfdfd
}


.hero .btn {
    display: block;

}

/* hero fade in + lettering */
.fade-in-text {
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* ----- about ----- */
#about-container {
    background-color: #ccc;
}

.about-bg {
    background-image: url("assets/img-1.jpg");
    min-height: 40vh;
    min-width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 25px;
    width: 600px;
    height: 200px;
    margin: 20px;
    border: 3px solid #ccc;
}

/* ----- about ----- */

/* .details-bg {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 60vh;
    position: relative;
    color: #ccc;
    text-shadow: 3px 3px 3px rgba(247, 241, 241, 0.5)

} */
.details-bg {
    background-image: url("assets/banner-1.jpg");
    max-width: 100%;
    height:auto;
    color: #ccc;
    text-shadow: 3px 3px 3px rgba(247, 241, 241, 0.5)

}




/* ----- principles ----- */
#principles-bg {
    min-height: 600px;
    background-color: #ccc;

}

/* ----- team ----- */
#team-bg {
    background-image: url("assets/banner-2.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

/* ----- carousel ----- */

/* #myCarousel {
    min-height: 600px;
} */
/* .carousel-item {
   min-height: 600px;

} */


/* .carousel-content{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding-bottom: 50px;

}  */





/* -------------------------------------------------------- */

/* details */





.details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    width: 100%;
    min-height: 600px;
    display: flex;
}



.icon {
    border-radius: 10%;
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 1em; 
    border: 3px solid rgb(247, 247, 247);
    

}

/* .icon {
    border-radius: 10%;
    height: 75px;
    width: 75px;
    margin: 15px;
    padding: 1em; 
    border: 3px solid rgb(247, 247, 247);
    

} */


/* .logo {
    min-height: 5px;
} */


.section-title,
p {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: flex;
    height: 150px;
    align-items: center;

}

p {
    font-size: 20px;
    ;
}

/* media-queries */


@media (max-width: 768px) {
    #hero-bg {
        min-height: 5vh;
        min-width: 5vw;
    }

    .rooster-hero {
        font-size: calc(1.525rem + 3.3vw);
    }
    

    .section-title{
        font-size: calc(1.525rem + 3.3vw);
    }

    p {
        font-size: 15px;
    }

    .icon {
        border-radius: 10%;
        height: 100px;
        width: 100px;
        margin: 15px;
        padding: 1em; 
        border: 3px solid rgb(247, 247, 247);
        
    
    }

    /* .details-bg {
        background-image: url("assets/banner-1.jpg");
        padding: 0px 20px;
    } */
    


}






/* media-queries */
/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .container {
        background-color: red;
    }
} */

/* #hero-bg {
        background-image: url("assets/hero.jpg");
        height:
    } */


/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    .container {
        background-color: gray;
    }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .container {
        background-color: purple;
    }
} */

/* 
// X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    .container {
        background-color: blue;
    }
} */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    .container {
        background-color: green;
    }
} */