/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/* imports */


body {
    text-align: center;
    margin: 0 auto;
    background-color:rgb(235, 232, 232)
}

.container {
    min-height: 80vh;
    padding: 0 1em;
    

}

#footer {
    min-height: 5vh;
    max-height:5vh;
    margin: auto;
    margin-top: 2vh;
   
}

.social {
    min-height: 4vh;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.expertise-i,
 .hygiene-i,
 .lab-i,
 .retention-i{
     display: none;
 }

 .home-expertise:hover + .expertise-i  {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: block;
    color: red;

    
  }
 .home-hygiene:hover + .hygiene-i {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: block;
    color: red;
  
  }
 .home-lab:hover + .lab-i {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: block;
    color: red;
   
  }
 .home-retention:hover + .retention-i {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: block;
    color: red;
 }


#hero-bg {
    background-image: url("assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-shadow: 3px 3px 3px rgba(247, 241, 241, 0.5)
}

.rooster-hero {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}

.sign-text {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 5rem;
}



.hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 0 auto;
    display: flex;
    color: #fdfdfd;
    background-size: cover;

}


.hero .btn {
    display: block;

}

/* hero fade in + lettering */
.fade-in-text {
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* ----- about ----- */
.about-bg {
    background-image: url("assets/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 3px solid #ccc;
}



/* ----- principles ----- */
#principles-bg {
     min-height: 80vh;
    background-color: rgb(235, 232, 232);

}

/* ----- team ----- */
#team-bg {
    background-image: url("assets/banner-2.jpg");
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


/* -------------------------------------------------------- */


.icon  {
    border-radius: 10%;
    width: 8em;
    height: 8em;
    margin: 20px;
    padding: 1em;
    border: 3px solid rgb(247, 247, 247);

}



.section-title,
p {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    display: inline-flex;
    font-size: 4.5vw;
    text-align: center;
    margin: auto;
}

p {
    font-size: 2.3vmin;
}

.details-info {
    background-image: url('assets/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 80vh;
    position: relative;
    color: rgb(254, 250, 250);
    text-shadow: 3px 3px 3px rgba(247, 241, 241, 0.5)
}

.card-header {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
}



.carousel-inner img {
    margin: auto;
  }
/*  */
/* media-queries */

@media (min-width: 768px) {
    #myCarousel {
        max-width: 75%;
        margin: auto;
        margin-bottom: 3vh;
    }

    #hero-bg{
        max-width: 100%;
        min-height: 100vh;
        min-width: 50vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .rooster-hero {
        font-size: 8em;
    }
    


}
@media (max-width: 768px) {

    .container,
    #hero-bg,
    .details-info,
    .about-bg,
    #team-bg {
        max-width: 100%;
        min-height: 50vh;
        min-width: 50vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .about-bg {
        max-width: 100%;
        min-height: 20vh;
        margin-top: 20px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: 0 auto;
        display: flex;
        color: #fdfdfd;
        background-size: cover;  
    }
    .rooster-hero {
        font-size: calc(1.525rem + 3.3vw);
    }


    .section-title {
        font-size: calc(1.525rem + 3.3vw);
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    p {
        font-size: 15px;
    }

    .icon {
        border-radius: 10%;
        width: 5.5em;
        height: 5.5em;
        padding: 1em;
        border: 3px solid rgb(244, 5, 5);
        margin: auto;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    .sign-text{
       font-size:2em; 
    }

}




/* REACH GOALS ->  */



/* media-queries */
/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .container {
        background-color: red;
    }
} */

/* #hero-bg {
        background-image: url("assets/hero.jpg");
        height:
    } */


/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    .container {
        background-color: gray;
    }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .container {
        background-color: purple;
    }
} */

/* 
// X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    .container {
        background-color: blue;
    }
} */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    .container {
        background-color: green;
    }